@import "./utiles/variables";

*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
}

.bold{
    font-weight: bolder;
}

.logo_header{
    width: 165px;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

/*animation loading */ 

.loading{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 7;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    animation: loading-stop 3s step-end both;
    &_circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: loading-spinner 0.5s cubic-bezier(.20,.60,.5,1) 6 alternate;
        transform-origin: top;
        &_1{
            background-color: $color-primary;
            animation-delay: 0.1s;
        }
        &_2{
            background-color: $color-secondary;
            animation-delay: 0.2s;
        }
        &_3{
            background-color: $color-tertiary;
            animation-delay: 0.3s;
        }
    }
} 

@keyframes loading-spinner{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-80px);
    }
}
@keyframes loading-stop{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

/* HEADER */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}

/* NAV */

nav, .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.localisation{
    width: 100%;
    background-color: #eaeaea;
    border-top: 1px solid #cfcfcf;
    box-shadow: inset 0 5px 9px -7px rgba(0,0,0,0.4);
}

.fa-map-marker-alt{
    margin-right: 10px;
}

.intro{
    background-color: $color-background;
    height: 280px;
    width: 100%;
}

.intro h1{
    width:60%;
    margin: 0px;
}

.intro p{
    width: 80%;
}


.button{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    border: none;
    border-radius: 100px 100px;
    background: linear-gradient(174deg, $color-secondary 0%, $color-primary 100%); 
    color: white;
    box-shadow: 3px 3px 20px $color-shadow, -1px 1px 20px $color-shadow;
    transition: 0.5s;
    &:hover{
        background: linear-gradient(174deg, lighten($color-secondary, 5) 0%, lighten($color-primary, 5) 100%); 
        box-shadow: 5px 5px 20px $color-shadow-darker, -3px 3px 20px $color-shadow-darker;
        transform: scale(1.05);
    }
}



/* MAIN */

.liste_fonctionnement {
    margin: 0px 20px 0px 20px;
}

.fonctionnement{
    height: 60px;
    display: flex;
    align-items: center;
    background: $color-background;
    margin: 24px 0px 24px 10px;
    border-radius: 15px 15px;
    box-shadow: 3px 3px 20px $color-shadow, -1px 1px 20px $color-shadow;
    &_special{
        background-color: #f5edff;
    }
    &_number{
        background: $color-primary;
        color: white;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 10px;
    }
    &_icon_shop{
        color: $color-primary;
        margin: 0px 20px 0px 5px;
    }
    &_icon_list{
        color: $color-icon;
        margin: 0px 23px 0px 5px;
    }
    &_icon_tel{
        color: $color-icon;
        margin: 0px 28px 0px 5px;
    }
    &_text{
        font-size: 13px;
    }
}



/* Section Restaurant */

.restaurant{
    background-color: $color-background;
    padding: 50px 20px 60px 20px;
    &_figure{
        margin:15px 0px 15px 0px;
        height: auto;
        background-color: white;
        border-radius: 15px 15px;
        position: relative;
    }
    &_img{
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
    &_new{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 15px; right: 15px;
        background-color:$color-tertiary ;
        width: 80px;
        height: 30px;
        border-radius: 3px;
        &_text{
            color: #008766;
        }
    }
    &_detail{
        display: flex;
        align-items: center;
        justify-content:space-between ;       
    }
    &_detail p{
        margin: 10px 0px 10px 15px;
    }
}

.like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 2;
  }
.fa-heart {
    transition: all ease-in-out;
    width: 30px; 
    right:10px;
  }

.fa-heart path{
    fill: transparent;
    stroke-width: 30;
    stroke: black;
}

.like-btn:hover > .fa-heart path{
    animation: animate-heart .5s linear forwards; 
    transform-origin: center;
  }

.gradient{
    width:0;
    height:0;
    position:absolute;
  }

@keyframes animate-heart{
    0%,25%{
       /* opacity: .25;*/
      transform: scale(1);
    }
    30%{
       /* opacity: .5;*/
        transform: scale(0.8);
    }
    75%{
        opacity: .75;
      transform: scale(1.2);
    }
    100% {
       fill: url(#my-cool-gradient);
      stroke: url(#my-cool-gradient) ;
     /* opacity: 1;*/
      transform: scale(1);
    }

  }


/* FOOTER */ 

footer{
    padding: 1px 20px 10px 20px;
    background: $color-footer;
    color: white;
} 
.logo{
    font-family: 'Shrikhand', cursive;
}

.info{
    padding: 0px;
    list-style-type: none;
    line-height: 25px;
    &_more a {
        color: white;
    }
    &_fourchette{
        margin-right: 10px;
    }
    &_main{
        margin-right: 10px;
        font-size: 10px;
    }
}


/*  --- MENU ---*/ 

/* Header */ 

.fa-arrow-left{
    margin-left: 20px;
}

/* MAIN */ 
.main_menu{
    background-color: $color-background;
    padding-bottom: 20px;
}
.presentation{
    margin:0px;
    height: auto;
    background-color: white;
    border-radius: 15px 15px;
    position: relative;
    &_img{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    &_text{
        border-radius: 30px 30px 0px 0px;
        position: absolute;
        left:0; right:0; bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-background;
        height: 50px;
            p{
                margin: 0px;
                margin-left: 25px;
                width: auto;
                height: 25px;
                font-size: 23px;
            }
            &_heart{
                top: 15px;
                position: absolute;
                transition: all ease-in-out;
                width: 30px;
                right: 15px;
            }
    }
}


.repas{
    background-color: $color-background;
    
    &_uppercase{
        text-transform: uppercase;
        font-weight: lighter;
        margin-left: 25px;
        width: 100px;
        &:after{
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            width: 45%; /* Change this to whatever width you want. */
            border-bottom: 2px solid $color-tertiary; /* This creates the border. Replace black with whatever color you want. */
            margin-top: 4px;
        }
    }
    &_detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        background-color: white;
        margin: 15px;
        overflow-x: hidden;
        opacity: 0;
        animation: repas-detail 1s both;
        @for $i from 1 to 11 {
            &--#{$i} {
                animation-delay: 100ms * $i;
            }
        }
        box-shadow: 3px 3px 20px $color-shadow, -1px 1px 20px $color-shadow;
        &:hover{
            & > .repas_check{
                display: flex;

                & > .repas_check_icon{
                    transform: rotate(0turn);
                }
            }
        } 

        & p{
            margin:15px 10px 15px 10px;
            align-self: flex-end;
            font-size: 13px;
        }
    }
    &_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:hover{
            width: 80%;
            transition: 1s;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &_name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
    }
    &_check{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 20%;
        background-color: $color-tertiary;
        border-radius: 0px 15px 15px 0px;
        display: none;
        animation: slider-check 0.5s both;
        &_icon{
            color: white;
            background-color: $color-tertiary;
            animation: slider-rotate 0.5s;
        }
    }
}

@keyframes slider-check{
    from{
        width: 0%;
        display: flex;
    }
    to{
        width: 20%;
    }
}

@keyframes slider-rotate{
    from{
        transform: rotate(0turn);
        animation-delay: 0.5s;
    }
    to{
        transform: rotate(1turn);
        animation-delay: 0.5s;
    }
}

@keyframes repas-detail {
    0% {
        position: relative;
        opacity: 0;
        top: 25px;
    }
    100%{
        position: relative;
        opacity: 1;
        top: 0px;
    }
}

.button_commander{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/* MEADI QUERRIES */ 

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .liste_fonctionnement, .container_fonctionnement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }

    .fonctionnement{
        width: 50%;
    }

    .restaurant{
        &_container{
            display: flex;
            flex-wrap: wrap;
        }
        &_figure{
            width: 47%;
            margin: 0px 10px 20px 10px
        }
    }

    .container{
        display: flex;
    }
    .repas{
        width: 33%;
    }
    
}

@media only screen and (min-width : 1025px){
   body{
        margin: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
   }
    
   
    .container_fonctionnement, .liste_fonctionnement{
        display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0px;
   }

   .container_fonctionnement{
       width: 100%;
   }
   .fonctionnement{
       width: 50%;
   }

   .restaurant{
       display: flex;
       flex-direction: column;
       align-items: center;
       &_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        }
        &_figure{
            width: 23%;
        }
   }

   .presentation{
       
       &_text{
        justify-content: space-between;
           p{
               margin-left: 26%;
           }
           &_heart{
               left: auto;
               right: 26%;
               
           }
           &_check{
               margin-right: 25.5%;
           }
       }
   }

    .repas{
        &_uppercase{
            margin: 10px 0px 0px 26%;
            
        }
        &_container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &_detail{
            width: 50%;
        }
    }
}

