* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0px; }

.bold {
  font-weight: bolder; }

.logo {
  font-family: 'Shrikhand', cursive;
  width: 165px; }

a {
  text-decoration: none;
  color: black; }

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px; }

/* NAV */
nav, .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.localisation {
  width: 100%;
  background-color: #eaeaea;
  border-top: 1px solid #cfcfcf;
  box-shadow: inset 0 5px 9px -7px rgba(0, 0, 0, 0.4); }

.intro {
  background-color: #f6f6f6;
  height: 280px;
  width: 100%; }

.intro h1 {
  width: 60%;
  margin: 0px; }

.intro p {
  width: 80%; }

.button {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  border: none;
  border-radius: 100px 100px;
  /*background:  radial-gradient(ellipse at top, $color-secondary, transparent),
                radial-gradient(ellipse at bottom, $color-primary, transparent);*/
  background: #ff79da;
  background: linear-gradient(174deg, #ff79da 0%, #9356dc 100%);
  color: white;
  box-shadow: 3px 3px 20px #c5c5c5, -1px 1px 20px #c5c5c5; }

/* MAIN */
.liste_fonctionnement {
  margin: 0px 20px 0px 20px; }

.fonctionnement {
  height: 60px;
  display: flex;
  align-items: center;
  background: #f6f6f6;
  margin: 24px 0px 24px 10px;
  border-radius: 15px 15px;
  box-shadow: 3px 3px 20px #ebebeb, -1px 1px 20px #ebebeb; }
  .fonctionnement_number {
    background: #9356DC;
    color: white;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px; }
  .fonctionnement_icon {
    color: #7e7e7e;
    margin: 0px 25px 0px 5px; }
  .fonctionnement_text {
    font-size: 13px; }

/* Section Restaurant */
.restaurant {
  background-color: #f6f6f6;
  padding: 50px 20px 60px 20px;
  /*&_new{
        position: relative;
        top: 0px; right: 0px;
    }*/ }
  .restaurant_figure {
    margin: 15px 0px 15px 0px;
    height: auto;
    background-color: white;
    border-radius: 15px 15px; }
  .restaurant_img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px; }
  .restaurant_detail {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .restaurant_detail p {
    margin: 10px 0px 10px 15px; }
  .restaurant_detail_heart {
    margin-right: 20px; }

/* FOOTER */
footer {
  padding: 1px 20px 10px 20px;
  background: #353535;
  color: white; }

.info {
  padding: 0px;
  list-style-type: none;
  line-height: 25px; }
  .info_more a {
    color: white; }

/*  --- MENU ---*/
/* Header */
/*  
.fa-arrow-left{
    align-self: ;
} */
/* MAIN */
.main_menu {
  background-color: #f6f6f6;
  padding-bottom: 20px; }

.presentation {
  margin: 0px;
  height: auto;
  background-color: white;
  border-radius: 15px 15px;
  position: relative; }
  .presentation_img {
    width: 100%;
    height: 220px;
    object-fit: cover; }
  .presentation_text {
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #f6f6f6;
    height: 50px; }
    .presentation_text p {
      margin: 0px;
      width: auto;
      font-size: 23px; }

.fa-heart {
  position: relative;
  bottom: 10px; }

.fa-heart:active {
  color: pink; }

.repas {
  background-color: #f6f6f6; }
  .repas_uppercase {
    text-transform: uppercase;
    font-weight: lighter;
    margin-left: 20px;
    width: 100px; }
    .repas_uppercase:after {
      content: "";
      /* This is necessary for the pseudo element to work. */
      display: block;
      /* This will put the pseudo element on its own line. */
      width: 45%;
      /* Change this to whatever width you want. */
      border-bottom: 2px solid #99E2D0;
      /* This creates the border. Replace black with whatever color you want. */ }
  .repas_detail {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    padding: 15px 10px 15px 10px;
    box-shadow: 3px 3px 20px #ebebeb, -1px 1px 20px #ebebeb; }
    .repas_detail p {
      margin: 0px;
      align-self: flex-end;
      font-size: 13px; }

.button_commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }

/* MEADI QUERRIES */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .liste_fonctionnement, .container_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px; }
  .fonctionnement {
    width: 50%; }
  .restaurant_container {
    display: flex;
    flex-wrap: wrap; }
  .restaurant_figure {
    width: 47%;
    margin: 0px 10px 20px 10px; } }

@media only screen and (min-device-width: 1025px) {
  body {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .container_fonctionnement, .liste_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px; }
  .container_fonctionnement {
    width: 100%; }
  .fonctionnement {
    width: 50%; }
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .restaurant_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .restaurant_figure {
      width: 23%; }
  .repas_uppercase {
    margin: auto;
    margin-left: 25%; }
  .repas_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .repas_detail {
    width: 50%; } }
