* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0px; }

.bold {
  font-weight: bolder; }

.logo_header {
  width: 165px;
  display: block;
  margin: auto; }

a {
  text-decoration: none;
  color: black; }

/*animation loading */
.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 7;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  animation: loading-stop 3s step-end both; }
  .loading_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: loading-spinner 0.5s cubic-bezier(0.2, 0.6, 0.5, 1) 6 alternate;
    transform-origin: top; }
    .loading_circle_1 {
      background-color: #9356DC;
      animation-delay: 0.1s; }
    .loading_circle_2 {
      background-color: #FF79DA;
      animation-delay: 0.2s; }
    .loading_circle_3 {
      background-color: #99E2D0;
      animation-delay: 0.3s; }

@keyframes loading-spinner {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-80px); } }

@keyframes loading-stop {
  from {
    transform: scale(1); }
  to {
    transform: scale(0); } }

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px; }

/* NAV */
nav, .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.localisation {
  width: 100%;
  background-color: #eaeaea;
  border-top: 1px solid #cfcfcf;
  box-shadow: inset 0 5px 9px -7px rgba(0, 0, 0, 0.4); }

.fa-map-marker-alt {
  margin-right: 10px; }

.intro {
  background-color: #f6f6f6;
  height: 280px;
  width: 100%; }

.intro h1 {
  width: 60%;
  margin: 0px; }

.intro p {
  width: 80%; }

.button {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  border: none;
  border-radius: 100px 100px;
  background: linear-gradient(174deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  box-shadow: 3px 3px 20px #d1d1d1, -1px 1px 20px #d1d1d1;
  transition: 0.5s; }
  .button:hover {
    background: linear-gradient(174deg, #ff93e1 0%, #a16be0 100%);
    box-shadow: 5px 5px 20px #8f8f8f, -3px 3px 20px #8f8f8f;
    transform: scale(1.05); }

/* MAIN */
.liste_fonctionnement {
  margin: 0px 20px 0px 20px; }

.fonctionnement {
  height: 60px;
  display: flex;
  align-items: center;
  background: #f6f6f6;
  margin: 24px 0px 24px 10px;
  border-radius: 15px 15px;
  box-shadow: 3px 3px 20px #d1d1d1, -1px 1px 20px #d1d1d1; }
  .fonctionnement_special {
    background-color: #f5edff; }
  .fonctionnement_number {
    background: #9356DC;
    color: white;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px; }
  .fonctionnement_icon_shop {
    color: #9356DC;
    margin: 0px 20px 0px 5px; }
  .fonctionnement_icon_list {
    color: #7e7e7e;
    margin: 0px 23px 0px 5px; }
  .fonctionnement_icon_tel {
    color: #7e7e7e;
    margin: 0px 28px 0px 5px; }
  .fonctionnement_text {
    font-size: 13px; }

/* Section Restaurant */
.restaurant {
  background-color: #f6f6f6;
  padding: 50px 20px 60px 20px; }
  .restaurant_figure {
    margin: 15px 0px 15px 0px;
    height: auto;
    background-color: white;
    border-radius: 15px 15px;
    position: relative; }
  .restaurant_img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px; }
  .restaurant_new {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    background-color: #99E2D0;
    width: 80px;
    height: 30px;
    border-radius: 3px; }
    .restaurant_new_text {
      color: #008766; }
  .restaurant_detail {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .restaurant_detail p {
    margin: 10px 0px 10px 15px; }

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 2; }

.fa-heart {
  transition: all ease-in-out;
  width: 30px;
  right: 10px; }

.fa-heart path {
  fill: transparent;
  stroke-width: 30;
  stroke: black; }

.like-btn:hover > .fa-heart path {
  animation: animate-heart .5s linear forwards;
  transform-origin: center; }

.gradient {
  width: 0;
  height: 0;
  position: absolute; }

@keyframes animate-heart {
  0%, 25% {
    /* opacity: .25;*/
    transform: scale(1); }
  30% {
    /* opacity: .5;*/
    transform: scale(0.8); }
  75% {
    opacity: .75;
    transform: scale(1.2); }
  100% {
    fill: url(#my-cool-gradient);
    stroke: url(#my-cool-gradient);
    /* opacity: 1;*/
    transform: scale(1); } }

/* FOOTER */
footer {
  padding: 1px 20px 10px 20px;
  background: #353535;
  color: white; }

.logo {
  font-family: 'Shrikhand', cursive; }

.info {
  padding: 0px;
  list-style-type: none;
  line-height: 25px; }
  .info_more a {
    color: white; }
  .info_fourchette {
    margin-right: 10px; }
  .info_main {
    margin-right: 10px;
    font-size: 10px; }

/*  --- MENU ---*/
/* Header */
.fa-arrow-left {
  margin-left: 20px; }

/* MAIN */
.main_menu {
  background-color: #f6f6f6;
  padding-bottom: 20px; }

.presentation {
  margin: 0px;
  height: auto;
  background-color: white;
  border-radius: 15px 15px;
  position: relative; }
  .presentation_img {
    width: 100%;
    height: 220px;
    object-fit: cover; }
  .presentation_text {
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    height: 50px; }
    .presentation_text p {
      margin: 0px;
      margin-left: 25px;
      width: auto;
      height: 25px;
      font-size: 23px; }
    .presentation_text_heart {
      top: 15px;
      position: absolute;
      transition: all ease-in-out;
      width: 30px;
      right: 15px; }

.repas {
  background-color: #f6f6f6; }
  .repas_uppercase {
    text-transform: uppercase;
    font-weight: lighter;
    margin-left: 25px;
    width: 100px; }
    .repas_uppercase:after {
      content: "";
      /* This is necessary for the pseudo element to work. */
      display: block;
      /* This will put the pseudo element on its own line. */
      width: 45%;
      /* Change this to whatever width you want. */
      border-bottom: 2px solid #99E2D0;
      /* This creates the border. Replace black with whatever color you want. */
      margin-top: 4px; }
  .repas_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    overflow-x: hidden;
    opacity: 0;
    animation: repas-detail 1s both;
    box-shadow: 3px 3px 20px #d1d1d1, -1px 1px 20px #d1d1d1; }
    .repas_detail--1 {
      animation-delay: 100ms; }
    .repas_detail--2 {
      animation-delay: 200ms; }
    .repas_detail--3 {
      animation-delay: 300ms; }
    .repas_detail--4 {
      animation-delay: 400ms; }
    .repas_detail--5 {
      animation-delay: 500ms; }
    .repas_detail--6 {
      animation-delay: 600ms; }
    .repas_detail--7 {
      animation-delay: 700ms; }
    .repas_detail--8 {
      animation-delay: 800ms; }
    .repas_detail--9 {
      animation-delay: 900ms; }
    .repas_detail--10 {
      animation-delay: 1000ms; }
    .repas_detail:hover > .repas_check {
      display: flex; }
      .repas_detail:hover > .repas_check > .repas_check_icon {
        transform: rotate(0turn); }
    .repas_detail p {
      margin: 15px 10px 15px 10px;
      align-self: flex-end;
      font-size: 13px; }
  .repas_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .repas_text:hover {
      width: 80%;
      transition: 1s;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .repas_text_name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  .repas_check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 20%;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    display: none;
    animation: slider-check 0.5s both; }
    .repas_check_icon {
      color: white;
      background-color: #99E2D0;
      animation: slider-rotate 0.5s; }

@keyframes slider-check {
  from {
    width: 0%;
    display: flex; }
  to {
    width: 20%; } }

@keyframes slider-rotate {
  from {
    transform: rotate(0turn);
    animation-delay: 0.5s; }
  to {
    transform: rotate(1turn);
    animation-delay: 0.5s; } }

@keyframes repas-detail {
  0% {
    position: relative;
    opacity: 0;
    top: 25px; }
  100% {
    position: relative;
    opacity: 1;
    top: 0px; } }

.button_commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }

/* MEADI QUERRIES */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .liste_fonctionnement, .container_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px; }
  .fonctionnement {
    width: 50%; }
  .restaurant_container {
    display: flex;
    flex-wrap: wrap; }
  .restaurant_figure {
    width: 47%;
    margin: 0px 10px 20px 10px; }
  .container {
    display: flex; }
  .repas {
    width: 33%; } }

@media only screen and (min-width: 1025px) {
  body {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .container_fonctionnement, .liste_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px; }
  .container_fonctionnement {
    width: 100%; }
  .fonctionnement {
    width: 50%; }
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .restaurant_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .restaurant_figure {
      width: 23%; }
  .presentation_text {
    justify-content: space-between; }
    .presentation_text p {
      margin-left: 26%; }
    .presentation_text_heart {
      left: auto;
      right: 26%; }
    .presentation_text_check {
      margin-right: 25.5%; }
  .repas_uppercase {
    margin: 10px 0px 0px 26%; }
  .repas_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .repas_detail {
    width: 50%; } }
